%h1 Welcome to the T & E App

= link_to "Products", products_path
%br
= link_to "Manufacturers", manufacturers_path
%br
= link_to "Testers", testers_path
%br
= link_to "Categories", categories_path
%br

