= link_to "Add Product", new_product_path

%h1 Products

%table
  %tr
    %th Model
    %th Manufacturer
  - @products.each do |p|
    %tr
      %td= link_to p.model, edit_product_path(p)
      %td= p.manufacturer ? p.manufacturer.name : "??"
      / %td= p.manufacturer.name if p.manufacturer